.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo h1 {
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.login-button {
  background-color: transparent;
  border: 2px solid #000;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .logo h1 {
    margin-bottom: 10px;
  }
}
